/* ==========================================================================
  Layout: Countdown
========================================================================== */

.countdown {
  padding: 64px 0;
  background: url(../img/dummy/countdown-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include large {
    padding: 56px 0;
  }

  @include medium {
    padding: 48px 0;
  }

  @include small {
    padding: 32px 0;
  }

  @include retina {
    padding: 30px 0;
  }

  &__wrapper {
    @include clearfix;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 50%;
    @include medium {
      margin: 0;
    }
    @include small {
      float: none;
      width: 100%;
      padding-left: 0;
      text-align: center;
      margin-bottom: 24px;
    }
    @include extra-small {
      text-align: center;
      float: none;
    }
    &__item {
      display: inline-block;
      padding: 18px;
      background-color: color(white);
      min-width: 88px;
      border-radius: 8px;
      text-align: center;
      margin-right: 8px;
      @include extra-small {
        margin: 0 16px 16px 0;
        padding: 8px;
        width: 90px;
        height: 100px;
        &:last-child {
          margin: 0;
        }
      }
    }
    &__number {
      @include font-size(h2);
      margin-bottom: 8px;
      font-weight: fw(bold);
    }
    &__txt {
      margin: 0;
    }
  }
  &__txt {
    float: left;
    width: 40%;
    margin-left: 64px;
    padding: 16px 0;
    color: color(white);
    @include medium {
      width: 40%;
      padding-left: 24px;
      padding: 0;
      margin-left: 0;
    }
    @include small {
      float: none;
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
    @include extra-small {
      width: 100%;
      margin: 0;
      text-align: center;
    }
    &__desc {
      margin: 0;
    }
  }
}