/* ==========================================================================
  Layout: Quran
========================================================================== */

.quran {
  background: url(../img/bg/batik-wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 64px 0;
  text-align: center;
  background-color: color(white);
  // min-height: 420px;
  @include large {
    padding: 56px 0;
  }

  @include medium {
    padding: 48px 0;
  }

  @include small {
    padding: 32px 0;
  }

  @include retina {
    padding: 30px 0;
  }

  &__txt {
    display: table;
    vertical-align: middle;
    p {
      margin-bottom: 24px;
      font-style: italic;
    }
    h3 {
      margin: 0;
    }
  }
}