//-------------------------------------------------------------------------------
  @name: Galleries
  -------------------------------------------------------------------------------//

//galleries-item
.galleries__item
  .galleries__item__box
    ='\n'
    .galleries__item__img
      ='\n'
      a.js-popup-image(href='assets/img/dummy/'+data.img alt=data.title)
        ='\n'
        img.galleries__item__img__el(src='assets/img/dummy/'+data.img alt=data.title)/
    ='\n'
='\n'
//end-galleries-item