/* ==========================================================================
 Init: Icons
 ========================================================================== */

[class^="undangah-"], [class*=" undangah-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'undangah-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.undangah-arrow-right:before {
  content: "\e901";
}
.undangah-home:before {
  content: "\e900";
}
.undangah-camera:before {
  content: "\e90f";
}
.undangah-book:before {
  content: "\e91f";
}
.undangah-time:before {
  content: "\e950";
}
.undangah-smile:before {
  content: "\e9e1";
}