/* ==========================================================================
   Elements Button
   ========================================================================== */

.btn {
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: 236px;
  padding: 11px 24px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  @include font-size(h6);
  font-weight: fw(semi-bold);
  @include shadow(16);
  border: 1px solid transparent;
  transition: all 350ms ease;
  @include remove-tap-highlight;
  @include small {
    @include font-size(h5);
    min-width: 160px;
  }

  &--primary {
    color: color(white);
    background-color: color(primary);
    &:hover {
      background-color: #256d39;
    }
  }

  &--secondary {
    background-color: transparent;
    color: color(primary);
    border-color: color(primary);
    box-shadow: none;

    &:hover {
      color: color(white);
      background-color: color(primary);
    }
  }

  &--block {
    width: 100%;
    i {
      padding-left: 8px;
    }
  }
}