extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Home';

//- Body
block siteContent
  //- Hero Banner
  include home/hero-banner.pug
  //- Our Children
  include ../layouts/our-children.pug
  //- Event
  include ../layouts/event.pug
  //- Galleries
  include ../layouts/galleries.pug
  //- Also Invite
  include ../layouts/also-invite.pug
  //- Habib
  include ../layouts/habib.pug
  //- Countdown
  include ../layouts/countdown.pug
  //- Location
  include ../layouts/location.pug
  //- Quran
  include ../layouts/quran.pug
  //- Guest Book
  include ../layouts/guest-book.pug
  //- Audio
  include ../layouts/audio.pug

