-
  data = {
    title: 'jQuery Template Project Website by Bilik Dev',
    subtitle: 'Example Components',
    desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati voluptatem consectetur sequi quisquam exercitationem. Facere ut ex in mollitia.',
    list: [
      {
        img: '1.jpeg',
        title: 'Lorem ipsum dolor sit amet.',
        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati voluptatem consectetur sequi quisquam exercitationem. Facere ut ex in mollitia.'
      },
      {
        img: '2.jpeg',
        title: 'Lorem ipsum dolor sit amet.',
        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati voluptatem consectetur sequi quisquam exercitationem. Facere ut ex in mollitia.'
      },
      {
        img: '3.jpeg',
        title: 'Lorem ipsum dolor sit amet.',
        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati voluptatem consectetur sequi quisquam exercitationem. Facere ut ex in mollitia.'
      }
    ]
  }

include ../../layouts/example.pug
