//-------------------------------------------------------------------------------
  @name: Audio
  -------------------------------------------------------------------------------//

//audio
.audio
  .container
    .audio__wrapper
      ul.audio__list
        li
          ='\n'
          i.undangah-time
          ='\n'
        audio(controls='')
          source(src='assets/audio/lagu-ulang-tahun-anak.mp3' type='audio/mpeg')
