//-------------------------------------------------------------------------------
  @name: Countdown
  -------------------------------------------------------------------------------//

-
  dataCountdown = {
    title: 'Catat Tanggalnya yaa..',
    desc: 'Tiada kesan yang paling indah tanpa kehadiran teman-teman semua.',
    list: [
      {
        time: '29',
        text: 'Minggu'
      },
      {
        time: '20',
        text: 'Hari'
      },
      {
        time: '10',
        text: 'Jam'
      },
      {
        time: '10',
        text: 'Menit'
      },
      {
        time: '10',
        text: 'Detik'
      },
    ]
  }

//countdown
.countdown
  .container
    .countdown__wrapper
      ul.countdown__list.js-countdown-set
        each val in dataCountdown.list
          -
          li.countdown__list__item
            p.countdown__list__number !{val.time}
            p.countdown__list__txt !{val.text}
      .countdown__txt
        h3.countdown__txt__title
          | !{dataCountdown.title}
        p.countdown__txt__desc
          | !{dataCountdown.desc}
='\n'
//end-countdown
