//-------------------------------------------------------------------------------
  @name: Event
  -------------------------------------------------------------------------------//

//event
.event
  .container
    .event__wrapper
      .event__boxes
        .event__box
          h3.text-title Acara
          p Assalamualaikum Warahmatullahi Wabarakatuh
          p Dengan mengharap rahmat dan ridho Allah SWT, Kami bermaksud menyelenggarakan Tasyakuran Khitan putera kami, yang Insya Allah akan dilaksanakan pada :
        .event__box__detail
          h3 Kamis - Jum'at, 22-23 Juli 2021
          p Pukul 08.00 WIB s/d Selesai
          p Bertempat di Blok Pasir Wajar, Dusun Puhun RT. 002 RW. 001, Desa Sakerta Barat, Kecamatan Darma, Kab. Kuningan Jawa Barat. 
='\n'
//end-event