//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

//footer
.footer
  .container
    .footer__wrapper
      .footer__copyright
        p.footer__copyright__text 
         | Copyright 2021 Undangah. All Rights Reserved
='\n'
//end-footer