//-------------------------------------------------------------------------------
  @name: Guest Book
  -------------------------------------------------------------------------------//
-
  dataComment = {
    list: [
      {
        img: 'user.png',
        alt: 'User',
        time: '12 Oktober 2021',
        name: 'Dendi Budiansyah',
        commentText: 'Wahh.. selamat berbahagia ya..'   
      },
      {
        img: 'user.png',
        alt: 'User',
        time: '14 Oktober 2021',
        name: 'Dede Nopitasari',
        commentText: 'Sehat selalu'
      },
      {
        img: 'user.png',
        alt: 'User',
        time: '12 Oktober 2021',
        name: 'Sandi',
        commentText: 'Semoga Panjang Umur'
      },
      {
        img: 'user.png',
        alt: 'User',
        time: '14 Oktober 2021',
        name: 'Erwan Hermawan',
        commentText: 'Dimudahkan rezekinya'
      },
      {
        img: 'user.png',
        alt: 'User',
        time: '12 Oktober 2021',
        name: 'Alpin',
        commentText: 'Bahagia dunia dan akhirat'
      },
    ]
  }

//guest-book
.guest-book
  .container
    .guest-book__wrapper
      h3.text-title.guest-book__title Buku Tamu
      p.guest-book__greeting Berikan Ucapan Untuk Anak Kami!
      .guest-book__form
        form(action='#' method='POST' autocomplete='off')
          .guest-book__form__row
            ='\n'
            input.guest-book__form__input(type='text' name='nama' id='name' placeholder='Masukkan Nama Anda' data-target="alertName" autocomplete='off' required='required')/
            p(class="form__alert" id="alertName" data-req="Nama tidak boleh kosong!")
          .guest-book__form__row
            ='\n'
            textarea.message__box(name='message' id='message' placeholder='Masukkan Pesan Anda' rows='5' autocomplete='off' required='required')
            p(class="form__alert" id="alertMessage" data-req="Pesan tidak boleh kosong!")
          .guest-book__form__row
            ='\n'
            button.btn.btn--primary.btn--block(type='submit')
              ='\n'
              i.undangah-home
              ='\n' 
              | Kirim
        .guest-book__result
          .guest-book__result__box
            each val in dataComment.list
              .guest-book__result__media
                .guest-book__result__img
                  ='\n'
                  img.guest-book__result__img__el(src='assets/img/dummy/'+val.img alt=val.alt)/
                .guest-book__result__comment
                  span !{val.time}
                  h6 !{val.name}
                  p !{val.commentText}
      .guest-book__txt
        p Merupakan suatu kehormatan dan kebahagiaan bagi kami sekeluarga apabila Bapak/Ibu/Saudara/i berkenan hadir dan memberikan doa kepada putera kami. Atas kesediaan kehadirannya, kami ucapkan terima kasih .
        p Wassalamualaikum Warahmatullahi Wabarakatuh
        p Kami yang berbahagia :
        h6 Yudhi Heriyadi, S.Kom
        h6 Ernawati

='\n'
//end-guest-book