//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    list: [
      {
        to: 'index.html',
        text: 'Home',
        classActive: 'home',
        iconClass: 'undangah-home'
      },
      {
        to: 'anak-kami.html',
        text: 'Anak Kami',
        classActive: 'anak-kami',
        iconClass: 'undangah-smile'

      },
      {
        to: 'acara.html',
        text: 'Acara',
        classActive: 'acara',
        iconClass: 'undangah-time'

      },
      {
        to: 'galeri.html',
        text: 'Galeri',
        classActive: 'galeri',
        iconClass: 'undangah-camera'

      },
      {
        to: 'buku-tamu.html',
        text: 'Buku Tamu',
        classActive: 'buku-tamu',
        iconClass: 'undangah-book',
      }
    ]
  }

//header
.header
  .container
    .header__content
      ul.header__nav__list
        each val in dataHeader.list
          li.header__nav__item(class=(navActive == val.classActive ? 'header__nav__item--active' : ''))
            ='\n'
            a.header__nav__link(href=val.to)
              ='\n'
              i(class=val.iconClass)
              ='\n'
              span.header__nav__text !{val.text}
              ='\n'
='\n'
//end-header
