//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

//hero-banner
.hero-banner
  .hero-banner__txt
    h2.hero-banner__title !{dataBanner.title}
    p.hero-banner__desc !{dataBanner.desc}
='\n'
//end-hero-banner