//-------------------------------------------------------------------------------
  @name: Our Children
  -------------------------------------------------------------------------------//

-
  dataChildren = {
    caption: 'Ya Rahman, Ya Rahim. Dengan memohon Ridho dan Rahmat-Mu, Maka izinkanlah kami untuk membimbing buah hati kami menjalankan sunnah Rasul-Mu dalam membentuk pribadi yang sholeh.',
      img: 'our-children.jpg',
      alt: 'Anak Kami',
      name: 'Fajar Rizky Ramadhan',
      identity: 'Anak Pertama dari Yudhi & Erna'
  }

//our-children
.our-children
  .container
    .our-children__wrapper
      .our-children__txt-caption
        p !{dataChildren.caption}
      .our-children__box
        .our-children__img
          ='\n'
          img.our-children__img-el(src='assets/img/dummy/'+dataChildren.img alt=dataChildren.alt)/
          ='\n'
        .our-children__txt
          h3.our-children__txt-name
            | !{dataChildren.name}
          p.our-children__txt-identity
            | !{dataChildren.identity}
='\n'
//end-our-children