//-------------------------------------------------------------------------------
  @name: Quran
  -------------------------------------------------------------------------------//

//quran
.quran
  .container
    .quran__txt
      p Dan sesungguhnya telah Kami berikan nikmat kepada Luqman, yaitu: "Bersyukurlah kepada Allah. Dan barangsiapa yang bersyukur (kepada Allah), maka sesungguhnya ia bersyukur untuk dirinya sendiri. Dan barangsiapa yang tidak bersyukur, maka sesungguhnya Allah Maha Kaya lagi Maha Terpuji."
      h3(strong) QS. Luqman [31] : 23
='\n'
//end-quran