/* ==========================================================================
   Variable: Typography
   ========================================================================== */

$font-main: 'Roboto', sans-serif;

// Font
$font: (
  family-main: $font-main,
  h1: (
    font-size: 4.8rem,
    line-height: 6.4rem,
  ),
  h2: (
    font-size: 3.2rem,
    line-height: 4.4rem,
  ),
  h3: (
    font-size: 2.4rem,
    line-height: 3.2rem,
  ),
  h4: (
    font-size: 2rem,
    line-height: 2.8rem,
  ),
  h5: (
    font-size: 1.8rem,
    line-height: 2.4rem,
  ),
  h6: (
    font-size: 1.6rem,
    line-height: 2.4rem,
  ),
  body: (
    font-size: 1.6rem,
    line-height: 2.4rem,
  ),
  lable: (
    font-size: 1.4rem,
    line-height: 2rem,
  ),
  small: (
    font-size: 1.2rem,
    line-height: 1.6rem,
  ),
  weight: (
    light: 300,
    regular: 400,
    bold: 700,
  ),
);
