/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  banner-text: 3,
  overlay-event: 4,
  habib-img-before: -1,
  also-invite-img: 2,
);
